# Copy to .env and fill in values
PORT=4000

# MQTT broker (Mosquitto local, HiveMQ, EMQX, etc.)
MQTT_BROKER_URL=mqtt://localhost:1883
# MQTT_BROKER_URL=mqtt://username:password@broker.example.com:1883
MQTT_SENSOR_TOPIC=esp32/sensors
MQTT_SERVO_TOPIC=esp32/servo/command

# Run "npm run gen-vapid" to generate these
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_EMAIL=mailto:you@example.com
